<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<b><h3>Student Demo account:</h3></b>
<h5><b>Username : </b>18JJ1A1237</h5>
<h5><b>Password : </b>demo@123</h5>
<b><h5>[Student login page : <a href="{% url 'studentlogin' %}" target="_blank">here</a>]</h5></b>
<b><h3>Staff(Caretacker) Demo account:</h3></b>
<h5><b>Username : </b>cr1</h5>
<h5><b>Password : </b>demo@123</h5>
<b><h3>Staff(Hostel Manager) Demo account:</h3></b>
<h5><b>Username : </b>hm1</h5>
<h5><b>Password : </b>demo@123</h5>
<b><h5>[Both caretacker and hostelmanager can login through admin login page : <a href="{% url 'adminlogin' %}" target="_blank">here</a>]</h5></b>
<b><h3>Security Demo account:</h3></b>
<h5><b>Username : </b>security1</h5>
<h5><b>Password : </b>demo@123</h5>
<b><h5>[Security login page : <a href="{% url 'securitylogin' %}" target="_blank">here</a>]</h5></b>

</body>
</html>