{% extends 'Home/passwordbase.html' %}
{% load static %}
{% block content %}

 <div class="login-clean" style="margin: 0px;margin-top: 0px;background: url({% static '/images/7f22bd1107b49b5eac20ce21b80d6489.jpg' %});height: 710px;">
        <h1 style="text-align: center;margin-bottom: 35px;color: rgb(255,255,255);">Update Password</h1>
        <form method="POST" style="margin-top: 0px;">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="padding-bottom: 20px;"><img src="{% static '/images/jntuhlogo.png' %}" style="margin-top: -72px;"></div>

    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(117,116,246);">Update</button></div>

            {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
        </form>

    </div>

{% endblock content %}