{% extends 'Home/studentbase.html' %}
{% load static %}
{% block content %}
<div style="margin-top:0px">
<div class="">
		<h3>Active Requests</h3>

		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Type</th>
					<th>Qr Code</th>


				</tr>

				{% for request in active %}
					<tr>
						<td><strong>Type </strong> : {{request.type }}<br/>
						<strong>Out Time</strong> : {{request.out_datetime }}<br/>
							<strong>In Time</strong> :{{request.in_datetime }}<br/>
							<strong>Status</strong> :{{ request.status }}<br/>
                            <strong>Actual Out time</strong> :{{ request.actual_out }}<br/></td>

							<td><a href="{{ request.qr_code.url }}">Qrcode</a> </td>


					</tr>
				{% endfor %}


			</table>
		</div>
	</div>
	</div>




{% endblock content %}