{% extends 'Home/studentbase.html' %}
{% load static %}
{% block content %}
<div style="margin-top:8px">
<div class="">
		<h3>Your Past Records</h3>
	<div class="card card-body">

         <form method="get">             {{myFilter.form}}

          <button class="btn btn-sm btn-primary" type="submit">Search</button>         </form>

      </div>

		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Details</th>



				</tr>

				{% for request in expired %}
					<tr>
						<td><strong>Type </strong> : {{request.type }}<br/>
						<strong>Out Time</strong> : {{request.out_datetime }}<br/>
							<strong>In Time</strong> :{{request.in_datetime }}<br/>
                            <strong>Actual Out time</strong> :{{ request.actual_out }}<br/>
                            <strong>Actual In time</strong> :{{ request.actual_in }}<br/></td>



					</tr>
				{% endfor %}


			</table>
		</div>
	<div class="pagination" >
		<span class="step-links" align="center">
			{% if expired.has_previous %}
			<a href="?{{ page_request_var }}={{ expired.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ expired.number }} of {{ expired.paginator.num_pages }}
			</span>
			{% if expired.has_next %}
			<a href="?{{ page_request_var }}={{ expired.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
	</div>
	</div>




{% endblock content %}