{% extends 'Home/HMbase.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div style="margin : 90px ">
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'HMupdateprofile' HM.name %}"> Update Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{ request.user.staff.profile_pic.url }}" >

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

			<form action="" enctype="multipart/form-data">
				<p><label>Name:</label> {{ HM.name }}</p>
<p><label >Email:</label> {{ HM.email }}</p>
<p><label >Designation:</label> {{ HM.designation }}</p>

			</form>
		</div>
	</div>
</div>

</div>
{% endblock content %}