{% extends 'Home/studentbase.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div style="margin-top : 100px ">
<div class="container">
	<h1>Submit Request</h1>
</div>
</div>
<div style="margin : 100px ">
	<div class="container">
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">

			<img class="profile-pic" src="{{ student.profile_pic.url }}" >

		</div>
	</div>
	<div class="col-md-6">
			{% for message in messages %}
			{% if message.tags == 'success' %}
			<div class="alert alert-success" role="alert">
 				{{message}}
			</div>
			{% else %}
			<div class="alert alert-danger" role="alert">
 				{{message}}
			</div>
			{% endif %}
	{% endfor %}

		<div class="card card-body">
            <p><label>Name :</label> {{ student.name }}</p>
            <p><label>Rollno : </label> {{ student.rollno }}</p>
            <p><label>Branch : </label> {{ student.branch }}</p>
            <p><label>Email : </label> {{ student.email }}</p>
            <p><label>Hostel : </label> {{ student.hostel }}</p>
            <p><label>Father Name : </label> {{ student.father_name }}</p>
            <p><label>Father Mobile no : </label> {{ student.father_mobile_no }}</p>
            <p><label>Mobile no : </label> {{ student.mobile_no }}</p>
			<form action="" method="POST">
				{% csrf_token %}

				{{ form.as_p }}
				<div><label>(Ignore this delete checkpoint)</label></div>
				<input class="btn btn-primary" type="submit" name="Submit">

			</form>



		</div>
	</div>
</div>

	</div>
</div>

{% endblock content %}