{% extends 'Home/studentbase.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div style="margin : 90px ">
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'studentupdateprofile' student.rollno %}"> Update Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{ request.user.student.profile_pic.url }}">

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

			<form  action="" enctype="multipart/form-data">

				<p><label>Name:</label> {{ student.name }}</p>
<p><label >Email:</label> {{ student.email }}</p>
<p><label >Branch:</label> {{ student.branch }}</p>
<p><label>Hostel:</label>{{ student.hostel }}</p>
<p><label >Rollno:</label> {{ student.rollno }}</p>
<p><label >Father name:</label> {{ student.father_name }}</p>
<p><label >Father mobile no:</label> {{ student.father_mobile_no }}</p>
<p><label >Mobile no:</label> {{ student.mobile_no }}</p>
<p><label >Address:</label> {{ student.address }}</p>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock content %}