{% extends 'Home/HMbase.html' %}
{% load static %}
{% block content %}
<h3 style=" text-align : left;margin-left : 16px; line-height : 1.2;" >Hostel Manager Instructions</h3><br/>
<p>
    <ul style = "margin : auto 20px;">
        <li>After logging in you will be redirected to “Pending Requests” page.</li><br/>
        <li>Here, you can view Information of all the pending requests under your 4 Hostels.</li><br/>
        <li>In the approved section you can view all the information of student requests approved by different care takers.</li><br/>
        <li>You will also have an authority to add new Hostel Managers and Care Takers.</li><br/>
     </ul>

</p>

{% endblock content %}