{% extends 'Home/studentbase.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 15px auto;
		border-radius: 50%;
	}
</style>
<div style="margin : 100px ">
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<h3 style="text-align: center">Account Settings</h3>
			<img class="profile-pic" src="{{ request.user.student.profile_pic.url }}" >
			<a class="btn btn-warning" href="{% url 'studentprofile' %}" style="background-color: #007bff;
    border-color: #007bff;color: #ffffff;"> &#8592; Back to Profile</a>



		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}

			<input class="btn btn-primary" type="submit" name="Update Information">

			</form>
		</div>
	</div>
</div>

</div>
{% endblock content %}